#page_body{
    /* new thing */
    padding: 0;
    margin: 0;
    min-width: 900px;
    background-color: #2D6AA3;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

body{
    width: 100%;
    display: table;
}

body td{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

.date{
    margin-left: 20px;
    float: left;
    line-height: 40px;
    color: #FFFFFF;
    font-family: "Palatino Linotype", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.search{
    width: 227px;
    height: 43px;
    text-align: left;
    padding-top: 9px;
    background: url(../images/search_bg.png) top right no-repeat;

    /* inherited */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
    margin-right: -6px;
    float: right;
}

#navmenu{
    background: #2D6AA3 url(/assets/navmenu_bg.png) top repeat-x;

    float: left;
    height: 53px;
    width: 980px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    /* inherited */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

#navmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navmenu li{
    float: left;
}

#all{
    /* inherit from body td */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
    /* end inherit */
    padding: 0px;
    margin: 0px auto;
    width: 1016px;
    background: url(../images/bg_all.png) no-repeat center 185px;
}


#navmenu li a{
    display: block;
    color: white;
    text-align: center;
    height: 36px;
    padding: 17px 10px 0px 10px;
    /* padding: 12px; */
    text-decoration: none;
}


#navmenu ul li a.active{
    background: #10a03b;
}

#main_bg{
    margin: 0px auto;
    width: 980px;
    text-align: left;
    background: #EFEFED url(../images/main_bg.png) bottom repeat-x;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

#sub_main_bg{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 760px;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

#leftcolumn{
    margin-left: 9px;
    padding: 0px;
    width: 205px;
    float: left;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

.module{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 205px;
}

#leftcolumn h3{
    text-align: left;
    padding-left: 15px;
    height: 41px;
    width: 190px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    background: #D4D2C6 url(../images/bg_h3.png) bottom left repeat-y;
}

#rightcolumn h3{
text-align: left;
padding-left: 15px;
height: 41px;
width: 190px;
line-height: 40px;
color: #fff;
font-size: 16px;
margin: 0px;
font-weight: bold;
background: #D4D2C6 url(../images/bg_h3.png) bottom left repeat-x;
}

ul.menu{
    padding: 5px 10px 5px 12px;
    margin:0px;
    text-align: left;
}

#maincolumn{
    width: 530px;
    float: left;
    margin: 0px  5px 0px 5px;
    padding: 0px;
    overflow: hidden;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

.path{
    margin: 10px 0 0 0px;
    padding: 5px;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

#rightcolumn{
    margin-right: 9px;
    padding: 0px;
    width: 210px;
    float: right;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

#leftcolumn div.module_menu div div div, #leftcolumn div.module div div div, #rightcolumn div.moduletable_menu, #rightcolumn div.moduletable, #rightcolumn div.moduletable_text{
    background: #FFF;
    border: 1px solid #DADADA;
    width: 205px;
}

#rightcolumn div.moduletable_menu, #rightcolumn div.moduletable, #rightcolumn div.moduletable_tex{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.3em;
}

table.contentpaneopen td.contentheading {
    padding-left: 34px;
  }

  td.contentheading {
    font-weight: normal;
    vertical-align: top;
    font-size: 19px;
    height: 30px;
    color: #363636;
    background: url(../images/contentheading_ico.png) left top no-repeat;
  }

  #maincolumn table.contentpaneopen, #maincolumn_middle table.contentpaneopen, #maincolumn_big table.contentpaneopen {
    text-align: left;
  }

  table.contentpaneopen {
    border-collapse: collapse;
  }

  table.contentpaneopen td{
    padding: 0;
  }

  span.small, td.createdate, td.modifydate {
    font-size: 11px;
    color: #999999;
  }

  table.contentpaneopen {
    border-collapse: collapse;
  }
